.u-section-1 .u-sheet-1 {
  min-height: 2072px;
}

.u-section-1 .u-group-elements-1 {
  min-height: 363px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-image-2 {
  width: 258px;
  height: 258px;
  background-image: url("images/Screenshot2022-11-14at16-23-31Rubiamanirubi.am_f10Instagramphotosandvideos1.png");
  background-position: 50% 50%;
  margin: 63px auto 0 34px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: -213px auto 0 426px;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin: 20px 276px 0 auto;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 1107px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 8px;
}

.u-section-1 .u-group-elements-2 {
  width: 516px;
  min-height: 168px;
  height: auto;
  margin: 30px 12px 0 26px;
}

.u-section-1 .u-shape-1 {
  width: 213px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  margin: 12px 53px 0 8px;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  font-size: 1rem;
  margin: 21px 0 0 4px;
}

.u-section-1 .u-group-elements-3 {
  width: 279px;
  min-height: 329px;
  margin: 97px 252px 0 23px;
}

.u-section-1 .u-group-elements-4 {
  width: 216px;
  min-height: 48px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-5 {
  font-weight: 400;
  margin: 0 0 0 7px;
}

.u-section-1 .u-shape-2 {
  width: 171px;
  height: 48px;
  margin: -32px auto 0 0;
}

.u-section-1 .u-group-elements-5 {
  min-height: 53px;
  margin-top: 24px;
  height: auto;
  margin-bottom: 0;
}

.u-section-1 .u-icon-1 {
  width: 53px;
  height: 53px;
  margin: 0 auto 0 0;
  padding: 5px;
}

.u-section-1 .u-text-6 {
  font-weight: 400;
  font-size: 1rem;
  margin: -53px 0 0 70px;
}

.u-section-1 .u-group-elements-6 {
  width: 277px;
  min-height: 49px;
  height: auto;
  margin: 12px auto 0;
}

.u-section-1 .u-icon-2 {
  width: 49px;
  height: 49px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-1 .u-text-7 {
  font-weight: 400;
  font-size: 1rem;
  margin: -37px 0 0 68px;
}

.u-section-1 .u-group-elements-7 {
  width: 277px;
  min-height: 46px;
  height: auto;
  margin: 26px auto 0;
}

.u-section-1 .u-icon-3 {
  width: 46px;
  height: 46px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-1 .u-text-8 {
  font-weight: 400;
  font-size: 1rem;
  margin: -40px 0 0 68px;
}

.u-section-1 .u-group-elements-8 {
  width: 275px;
  min-height: 45px;
  height: auto;
  margin: 26px auto 0;
}

.u-section-1 .u-icon-4 {
  width: 45px;
  height: 45px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-1 .u-text-9 {
  font-weight: 400;
  font-size: 1rem;
  margin: -36px 0 0 66px;
}

.u-section-1 .u-group-elements-9 {
  width: 218px;
  min-height: 64px;
  height: auto;
  margin: 75px auto 0 26px;
}

.u-section-1 .u-shape-3 {
  width: 177px;
  height: 64px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-10 {
  font-weight: 400;
  margin: -48px 0 0 9px;
}

.u-section-1 .u-text-11 {
  font-size: 1rem;
  font-weight: 400;
  margin: 76px 412px 0 30px;
}

.u-section-1 .u-icon-5 {
  width: 43px;
  height: 43px;
  margin: -184px auto 0 42px;
}

.u-section-1 .u-icon-6 {
  width: 43px;
  height: 43px;
  margin: 57px auto 0 42px;
}

.u-section-1 .u-text-12 {
  font-size: 1rem;
  font-weight: 400;
  margin: -184px 225px 0 153px;
}

.u-section-1 .u-icon-7 {
  width: 43px;
  height: 43px;
  margin: -184px auto 0 201px;
}

.u-section-1 .u-icon-8 {
  width: 43px;
  height: 43px;
  margin: 57px auto 0 201px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 1128px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 15px;
}

.u-section-1 .u-group-elements-10 {
  width: 353px;
  min-height: 150px;
  margin: 0 auto 0 7px;
}

.u-section-1 .u-shape-4 {
  width: 353px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-13 {
  font-weight: 400;
  margin: 12px 287px 0 11px;
}

.u-section-1 .u-group-elements-11 {
  min-height: 76px;
  height: auto;
  width: 534px;
  margin: 11px -181px 0 auto;
}

.u-section-1 .u-text-14 {
  margin: 0 0 0 188px;
}

.u-section-1 .u-text-15 {
  margin: -74px 165px 0 0;
}

.u-section-1 .u-group-elements-12 {
  width: 386px;
  min-height: 145px;
  margin: 106px 147px 0 7px;
}

.u-section-1 .u-shape-5 {
  width: 139px;
  height: 48px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-16 {
  font-weight: 400;
  margin: -48px auto 0 11px;
}

.u-section-1 .u-group-elements-13 {
  min-height: 81px;
  margin-top: 32px;
  margin-bottom: 0;
}

.u-section-1 .u-text-17 {
  margin: 0 37px 0 auto;
}

.u-section-1 .u-text-18 {
  margin: -69px auto 0 0;
}

.u-section-1 .u-group-elements-14 {
  width: 188px;
  min-height: 64px;
  height: auto;
  margin: 68px auto 0 0;
}

.u-section-1 .u-text-19 {
  font-weight: 400;
  margin: 16px auto 0 4px;
}

.u-section-1 .u-map-1 {
  height: 318px;
  margin: 217px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1253px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 913px;
  }

  .u-section-1 .u-group-elements-2 {
    width: 454px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-group-elements-3 {
    margin-right: 175px;
    margin-left: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 342px;
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    margin-right: 175px;
    margin-left: 103px;
  }

  .u-section-1 .u-icon-7 {
    margin-left: 165px;
  }

  .u-section-1 .u-icon-8 {
    margin-left: 165px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 930px;
  }

  .u-section-1 .u-group-elements-12 {
    margin-right: 47px;
  }

  .u-section-1 .u-map-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-group-elements-2 {
    width: 344px;
  }

  .u-section-1 .u-group-elements-3 {
    margin-right: 65px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 232px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 120px;
    margin-left: 48px;
  }

  .u-section-1 .u-icon-7 {
    margin-left: 125px;
  }

  .u-section-1 .u-icon-8 {
    margin-left: 125px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-group-elements-10 {
    width: 330px;
    margin-left: 0;
  }

  .u-section-1 .u-group-elements-12 {
    width: 330px;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 200px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-elements-2 {
    width: 324px;
  }

  .u-section-1 .u-group-elements-3 {
    margin-right: 45px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 32px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-icon-7 {
    margin-left: 77px;
  }

  .u-section-1 .u-icon-8 {
    margin-left: 77px;
  }

  .u-section-1 .u-group-elements-10 {
    width: 320px;
  }

  .u-section-1 .u-group-elements-12 {
    width: 320px;
  }
}